<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>

  <body>
    <%- partial('_partial/header') %>
    <div class="container">
      <div class="main">
        <% if (page.sidebar !== false){ %>
        <aside class="sidebar sidebar-left"><%- partial('_partial/sidebar') %></aside>
        <% } %>
        <section class="inner">
          <section class="inner-main"><%- body %></section>
        </section>
        <aside class="sidebar sidebar-right"><%- partial('_partial/personal') %></section>
      </div>
    </div>

    <%- partial('_partial/footer') %>
  </body>
</html>
