<div class="personal">
  <div class="personal-avatar">
    <div class="personal-avatar-box">
      <img
        class="personal-avatar-img"
        src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fc-ssl.duitang.com%2Fuploads%2Fblog%2F202107%2F07%2F20210707225703_977dd.thumb.1000_0.jpg&refer=http%3A%2F%2Fc-ssl.duitang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1689413480&t=fee682b0f0141a5acf1660f1d8945630"
        alt="avatar"
      />
      <h3 class="name"><%= config.author %></h3>
    </div>
    <div class="personal-article">
      <div class="personal-article-item">
        <h5>文章数量</h5>
        <span class="count"><%= site.posts.length %></span>
      </div>
      <div class="personal-article-item">
        <h5>标签数量</h5>
        <span class="count">9</span>
      </div>
    </div>
  </div>
  <section class="personal-info">
    <div class="personal-info-profile">
      <header class="personal-info-profile-title">
        <span><i class="iconfont icon-person"></i>个人简介</span>
      </header>
      <div class="personal-info-profile-contend"><%= config.description %></div>
    </div>
    <div class="personal-info-profile">
      <header class="personal-info-profile-title">
        <span><i class="iconfont icon-link"></i>友情链接</span>
      </header>
      <div>
        <% config.friend_links.forEach(function(item) { %>
        <a href="<%= item.link %>"><span><%= item.name %></span></a>
        <% }) %>
      </div>
    </div>
  </section>
</div>
